html {
	height: 100%
}

body {
	font: 75%/1.4em Arial,Helvetica,Verdana,sans-serif;
	height: 100%;
	margin: 0;
	padding: 0
}
			
input {
	font-size: 1em;
	margin: 2px;
	padding: 2px;
}


#name_form_div {
    border: 1px solid #EFEFEF;
	margin: 2px;
    padding: 2px;
}

#map_div {
    border: 1px solid #EFEFEF;
	padding: 2px;
	margin: 2px;
}

#map_canvas{
	height: 480px;
	width: 640px;
}